body {
  font-family: Cambria, Georgia, serif;
  background-color: #fdf6e3;
  color: #586e75;
}

a {
  color: #268bd2;
}

h1, h2, h3, h4 {
  color: #073642;
}

img {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}